{% extends "main.html" %}
{% block tabs %}
  {{ super() }}
  <style>
        .md-header{position:initial}
        .md-main__inner{margin:0}
        .md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}
  </style>

  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <br />
      <br />
      <br />
      <br />
      <div class="mdx-hero">
        <div class="mdx-hero__content">
          <div style="padding-left:100px; padding-right:100px">
            <div style="text-align: center">
              <h1 style="font-weight: bold">Kymata Core</h1>
              <p style="font-weight: lighter">The central codebase used for the production and <br>maintenance of the <b style="font-weight: normal">Kymata Atlas</b>, <a href="https://kymata.org">kymata.org</a></p>
              <a href="https://github.com/kymata-atlas/kymata-core" class="md-button md-button--primary">
                Go to Github Repository
              </a>
              <a href="overview/" title="Code Reference" class="md-button">
                Documentation
              </a>
            </div>
            <br>
            <br>
            <img src="assets/images/documentation_landing_v2.jpg">
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
