# Possible default location for downloaded data
kymata-core-data/tutorial_nkg_data/
kymata-core-data/emeg_study_data/
kymata-core-data/output/

# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/

# Documentation
docs/_build/
/site

# MacOS
*.DS_Store

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/

#.vscode settings
.vscode

# Scratch files
scratch.*

# Temp testing files
/**/temp/*
