# Auto detect text files and perform LF normalization
* text=auto

# Ignore demos when calculating the Github language statistics
*.ipynb linguist-vendored
demos/** linguist-vendored
kymata/ippm/hyperparameter_tuning.ipynb -linguist-vendored
