[tool.poetry]
name = "kymata-toolbox"
version = "0.1.0"
description = ""
authors = [
    "Andrew Thwaites <acgt2@cam.ac.uk>",
    "Cai Wingfield <cai@caiwingfield.net>"
]
packages = [{include = "kymata"}]

[tool.poetry.dependencies]
python = "~3.11"
#
colorama = "^0.4.5"
jupyter = "^1.0.0"
llvmlite = "^0.41.0"
mat73 = "^0.62"
matplotlib = "^3.7.1"
pandas = "^2.1.1"
PyYAML = "^6.0"
requests = "^2.31.0"
scikit-learn = "^1.3.2"
seaborn = "^0.12.2"
sparse = "^0.14.0"
xarray = "^2023.9.0"

[tool.poetry.dev-dependencies]
pytest = "^7.4.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
