[tool.poetry]
name = "kymata-hpc"
version = "0.1.0"
description = "The pipeline for central Kymata analysis."
authors = ["neukym <acgt2@cam.ac.uk>"]

[tool.poetry.dependencies]
python = "~3.8.9"
mne = "^1.3.1"
PyYAML = "^6.0"
colorama = "^0.4.5"
scikit-learn = "^1.2.2"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
