[tool.poetry]
name = "kymata-toolbox"
version = "0.1.0"
description = ""
authors = ["Andrew Thwaites <acgt2@cam.ac.uk>"]

[tool.poetry.dependencies]
python = "~3.8.9"
colorama = "^0.4.5"
PyYAML = "^6.0"
matplotlib = "^3.7.1"
seaborn = "^0.12.2"
networkx = "^3.1"
requests = "^2.31.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
