[tool.poetry]
name = "kymata-toolbox"
version = "0.1.0"
description = ""
authors = [
    "Andrew Thwaites <acgt2@cam.ac.uk>",
    "Cai Wingfield <cai@caiwingfield.net>"
]
packages = [{include = "kymata"}]

[tool.poetry.dependencies]
python = "~3.11"
mne = "^1.5.1"
colorama = "^0.4.5"
jupyter = "^1.0.0"
llvmlite = "^0.41.0"
mat73 = "^0.62"
matplotlib = "^3.7.1"
pandas = "^2.1.1"
PyYAML = "^6.0"
requests = "^2.32.0"
scikit-learn = "^1.3.2"
seaborn = "^0.12.2"
pyvistaqt = "^0.11.0"
nibabel = "^5.1.0"
traitlets = "^5.13.0"
sparse = "^0.14.0"
xarray = "^2023.9.0"
pyqt6 = "^6.6.1"
h5io = "^0.1.9"
mkdocs-material = "^9.5.24"

[tool.poetry.dev-dependencies]
pytest = "^7.4.2"
ipdb = "^0.13.13"
ruff = "^0.2.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
