[tool.poetry]
name = "kymata-preprocessing-pipeline"
version = "0.1.0"
description = "The pipeline for central Kymata analysis."
authors = ["neukym <acgt2@cam.ac.uk>"]

[tool.poetry.dependencies]
python = "~3.11"
mne = "^1.5.1"
PyYAML = "^6.0"
colorama = "^0.4.5"
scikit-learn = "^1.2.2"
seaborn = "^0.12.2"
pyvistaqt = "^0.11.0"
nibabel = "^5.1.0"
traitlets = "^5.13.0"
pyqt6 = "^6.6.1"
h5io = "^0.1.9"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
